@using CoreBeliefsSurvey.Shared.Models
@using Telerik.Blazor.Components

<div class="belief-card @(Belief.IsPositive ? "positive" : "negative")">
    <div class="card rounded-corners">
        <div class="card-header">
            <h4>@Belief.BeliefName</h4>
            <i class="far fa-question-circle question-mark-icon" title="@Belief.BeliefDescription"></i>
        </div>
        <div class="card-body">
            <LikertScale SelectedOption="@SelectedOption" SelectedOptionChanged="@HandleSelectedOptionChanged" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public CoreBelief Belief { get; set; }

    [Parameter]
    public int SelectedValue { get; set; } // added parameter to receive previously saved value

    [Parameter]
    public EventCallback<(CoreBelief Belief, int SelectedValue)> OnOptionSelected { get; set; }

    private int SelectedOption { get; set; }

    protected override void OnParametersSet()
    {
        SelectedOption = SelectedValue; // initializing selected option with passed value
    }

    private async Task HandleSelectedOptionChanged(int value)
    {
        SelectedOption = value;
        await OnOptionSelected.InvokeAsync((Belief, SelectedOption));
    }
}
