@page "/"
@using CoreBeliefsSurvey.Shared.Models
@using Microsoft.AspNetCore.Components
@inject HttpClient Http
@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime

@using System.Text.Json

@if ((!loadingBeliefs && beliefResponses == null) || (beliefResponses!= null && !beliefResponses.Any()))
{
    @if (string.IsNullOrEmpty(selectedOption))
    {
        <QuestionSelectionComponent OnBeliefNumberSelected="BeliefNumberSelectedAsync" />
    }
}

@if (loadingBeliefs)
{
    <p><em>Loading...</em></p>
}
else if (selectedOption != null || (beliefResponses != null && beliefResponses.Count() > 0))
{
    <h3>Beliefs</h3>

    <div class="belief-container">
        @if (filteredBeliefs.Length > 0)
        {
            <BeliefCard Belief="@filteredBeliefs[currentIndex]"
                        SelectedValue="@(GetBeliefResponse(filteredBeliefs[currentIndex])?.SelectedValue ?? 0)"
                        OnOptionSelected="HandleOptionSelected" />
            @if (currentIndex > 0)
            {
                <button @onclick="MovePrevious">Previous</button>
            }
            @if (currentIndex < filteredBeliefs.Length - 1)
            {
                <button @onclick="MoveNext">Next</button>
            }
        }
    </div>

    <p>Question: @(currentIndex + 1) of @filteredBeliefs.Length</p>
    <p>Answered: @(beliefResponses.Count()) of @filteredBeliefs.Length</p>

    <button class="btn btn-primary" @onclick="NavigateToSummary">Submit</button>
    <button class="btn btn-primary" @onclick="RestartQuestions">Restart Questions</button>

}

@code {
    private CoreBelief[] allBeliefs;
    private CoreBelief[] filteredBeliefs;
    private string selectedOption;
    private int currentIndex = 0;
    private int questionsAnswered = 0;
    private bool loadingBeliefs = true;
    private List<CoreBeliefResponse> beliefResponses;
    private string filteredBeliefsJson;

    protected override async Task OnInitializedAsync()
    {
        await LoadBeliefs();

        // Retrieve filteredBeliefs from session storage
        filteredBeliefsJson = await JSRuntime.InvokeAsync<string>("sessionStorage.getItem", "filteredBeliefs");
        if (!string.IsNullOrEmpty(filteredBeliefsJson))
        {
            filteredBeliefs = JsonSerializer.Deserialize<CoreBelief[]>(filteredBeliefsJson);
        }

        // Retrieve beliefResponses from session storage
        var beliefResponsesJson = await JSRuntime.InvokeAsync<string>("sessionStorage.getItem", "beliefResponses");
        if (!string.IsNullOrEmpty(beliefResponsesJson))
        {
            beliefResponses = JsonSerializer.Deserialize<List<CoreBeliefResponse>>(beliefResponsesJson);
            questionsAnswered = beliefResponses.Count();

            // Set currentIndex based on the beliefResponses
            currentIndex = beliefResponses.Count;
        }
        else
        {
            beliefResponses = new List<CoreBeliefResponse>();
            currentIndex = 0;
        }
    }


    /// <summary>
    /// Moves to the next belief in the list.
    /// </summary>
    private void MoveNext()
    {
        currentIndex++;
    }

    /// <summary>
    /// Moves to the previous belief in the list.
    /// </summary>
    private void MovePrevious()
    {
        currentIndex--;
    }

    /// <summary>
    /// Loads the beliefs from the server.
    /// </summary>
    private async Task LoadBeliefs()
    {
        try
        {
            allBeliefs = await Http.GetFromJsonAsync<CoreBelief[]>("api/Beliefs");

            loadingBeliefs = false;
        }
        catch (Exception ex)
        {
            // Handle the error, log, or display an error message
            Console.WriteLine($"Error loading beliefs: {ex.Message}");
        }
    }


    /// <summary>
    /// Restarts the survey by clearing all the responses and reloading the beliefs.
    /// </summary>
    private async Task RestartQuestions()
    {
        try
        {
            beliefResponses.Clear();
            filteredBeliefs = allBeliefs; // Reset filteredBeliefs to initial value
            selectedOption = null;
            await JSRuntime.InvokeVoidAsync("sessionStorage.removeItem", "beliefResponses");
            await JSRuntime.InvokeVoidAsync("sessionStorage.removeItem", "filteredBeliefs"); // Remove filteredBeliefs from session storage
            await LoadBeliefs();
            await InvokeAsync(StateHasChanged); // Update the component
        }
        catch (Exception ex)
        {
            // Handle the error, log, or display an error message
            Console.WriteLine($"Error restarting questions: {ex.Message}");
        }
    }


    /// <summary>
    /// Filters the beliefs based on the selected option.
    /// </summary>
    private async Task FilterBeliefs()
    {
        var random = new Random();
        var randomizedBeliefs = allBeliefs.OrderBy(x => random.Next()).ToArray();
        selectedOption = selectedOption ?? "All";
        filteredBeliefs = selectedOption == "All" ? randomizedBeliefs : randomizedBeliefs.Take(int.Parse(selectedOption)).ToArray();
        questionsAnswered = beliefResponses.Count();

        // Serialize and store filteredBeliefs in session storage
        filteredBeliefsJson = JsonSerializer.Serialize(filteredBeliefs);
        await JSRuntime.InvokeVoidAsync("sessionStorage.setItem", "filteredBeliefs", filteredBeliefsJson);
    }

    /// <summary>
    /// Handles the selection of an option for a belief.
    /// </summary>
    private async Task HandleOptionSelected((CoreBelief Belief, int SelectedValue) option)
    {
        try
        {
            UpdateBeliefResponse(option.Belief, option.SelectedValue);
            if (beliefResponses.Count() < filteredBeliefs.Length - 1)
            {
                MoveNext();
            }
            else
            {
                await NavigateToSummary();
            }
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)
        {
            // Handle the error, log, or display an error message
            Console.WriteLine($"Error handling option selected: {ex.Message}");
        }
    }

    /// <summary>
    /// Handles the selection of a belief number.
    /// </summary>
    private async Task BeliefNumberSelectedAsync(int value)
    {
        try
        {
            if (value < 0)
            {
                selectedOption = "All";
            }
            else
            {
                selectedOption = value.ToString();
            }
            await FilterBeliefs();
            await InvokeAsync(StateHasChanged); // Update the component
        }
        catch (Exception ex)
        {
            // Handle the error, log, or display an error message
            Console.WriteLine($"Error handling belief number selected: {ex.Message}");
        }
    }

    /// <summary>
    /// Updates the response for a belief.
    /// </summary>
    public void UpdateBeliefResponse(CoreBelief belief, int selectedValue)
    {
        var beliefResponse = beliefResponses.FirstOrDefault(r => r.Belief == belief);
        if (beliefResponse != null)
        {
            beliefResponse.SelectedValue = selectedValue;
        }
        else
        {
            beliefResponse = new CoreBeliefResponse
                {
                    Belief = belief,
                    SelectedValue = selectedValue
                };
            beliefResponses.Add(beliefResponse);
        }
        questionsAnswered = beliefResponses.Count();
    }

    /// <summary>
    /// Gets the response for a belief.
    /// </summary>
    public CoreBeliefResponse GetBeliefResponse(CoreBelief belief)
    {
        return beliefResponses.FirstOrDefault(r => r.Belief == belief);
    }

    /// <summary>
    /// Navigates to the summary page and saves the belief responses in the sessionStorage.
    /// </summary>
    private async Task NavigateToSummary()
    {
        try
        {
            await JSRuntime.InvokeVoidAsync("sessionStorage.setItem", "beliefResponses", JsonSerializer.Serialize(beliefResponses));
            NavManager.NavigateTo("/summary");
        }
        catch (Exception ex)
        {
            // Handle the error, log, or display an error message
            Console.WriteLine($"Error navigating to summary: {ex.Message}");
        }
    }
}
