@page "/"
@using CoreBeliefsSurvey.Client.Services;
@using CoreBeliefsSurvey.Shared.Models
@using Microsoft.AspNetCore.Components
@inject HttpClient Http
@inject NavigationManager NavManager
@inject BeliefResponseService BeliefResponseService

@using System.Text.Json

@if ((!loadingBeliefs && beliefResponses == null) || (beliefResponses!= null && !beliefResponses.Any()))
{
    @if (string.IsNullOrEmpty(selectedOption))
    {
        <QuestionSelectionComponent OnBeliefNumberSelected="BeliefNumberSelectedAsync" />
    }
}

@if (loadingBeliefs)
{
    <p><em>Loading...</em></p>
}
else if (selectedOption != null || (beliefResponses != null && beliefResponses.Count() > 0))
{
    <h3>Beliefs</h3>

    <div class="belief-container">
        @if (filteredBeliefs?.Count() > 0)
        {
            <BeliefCard Belief="@filteredBeliefs[currentIndex]"
                        SelectedValue="@(GetBeliefResponse(filteredBeliefs[currentIndex])?.SelectedValue ?? 0)"
                        OnOptionSelected="HandleOptionSelected" />
            @if (currentIndex > 0)
            {
                <button @onclick="MovePrevious">Previous</button>
            }
            @if (currentIndex < filteredBeliefs.Count() - 1)
            {
                <button @onclick="MoveNext">Next</button>
            }
        }

    </div>

    <p>Question: @(currentIndex + 1) of @filteredBeliefs.Count()</p>
    <p>Answered: @(beliefResponses.Count()) of @filteredBeliefs.Count()</p>

    <button class="btn btn-primary" @onclick="NavigateToSummary">Submit</button>

}

@code {
    private List<CoreBelief> allBeliefs;
    private List<CoreBelief> filteredBeliefs;
    private string selectedOption;
    private int currentIndex = 0;
    private int questionsAnswered = 0;
    private bool loadingBeliefs = true;
    private List<CoreBeliefResponse> beliefResponses;
    private string filteredBeliefsJson;

    protected override async Task OnInitializedAsync()
    {
        await LoadBeliefs();

        filteredBeliefs = await BeliefResponseService.LoadFilteredBeliefs();

        // Retrieve beliefResponses from session storage

        beliefResponses = await BeliefResponseService.LoadBeliefResponses();
        if (beliefResponses != null && beliefResponses.Any())
        {
            questionsAnswered = beliefResponses.Count();
        }
        else
        {
            beliefResponses = new List<CoreBeliefResponse>();
            currentIndex = 0;
        }

        // Ensure currentIndex is valid with respect to filteredBeliefs length
        if (filteredBeliefs == null || currentIndex >= filteredBeliefs.Count())
        {
            currentIndex = 0;
        }
        await InvokeAsync(StateHasChanged);
    }


    /// <summary>
    /// Moves to the next belief in the list.
    /// </summary>
    private void MoveNext()
    {
        if (currentIndex < filteredBeliefs.Count() - 1)
        {
            currentIndex++;
        }
        else if (currentIndex >= filteredBeliefs.Count()) // if out of bounds
        {
            currentIndex = filteredBeliefs.Count() - 1; // set to last valid index
        }
    }

    /// <summary>
    /// Moves to the previous belief in the list.
    /// </summary>
    private void MovePrevious()
    {
        if (currentIndex > 0)
        {
            currentIndex--;
        }
        else if (currentIndex < 0) // if out of bounds
        {
            currentIndex = 0; // set to first valid index
        }
    }



    /// <summary>
    /// Loads the beliefs from the server.
    /// </summary>
    private async Task LoadBeliefs()
    {
        try
        {
            allBeliefs = await Http.GetFromJsonAsync<List<CoreBelief>>("api/Beliefs");

            loadingBeliefs = false;
        }
        catch (Exception ex)
        {
            // Handle the error, log, or display an error message
            Console.WriteLine($"Error loading beliefs: {ex.Message}");
        }
    }

    /// <summary>
    /// Filters the beliefs based on the selected option.
    /// </summary>
    private async Task FilterBeliefs()
    {
        var random = new Random();
        var randomizedBeliefs = allBeliefs.OrderBy(x => random.Next()).ToList();
        selectedOption = selectedOption ?? "All";
        filteredBeliefs = selectedOption == "All" ? randomizedBeliefs : randomizedBeliefs.Take(int.Parse(selectedOption)).ToList();
        questionsAnswered = beliefResponses.Count();

        // Serialize and store filteredBeliefs in session storage
        await BeliefResponseService.SaveFilteredBeliefs(filteredBeliefs);
    }


    /// <summary>
    /// Handles the selection of an option for a belief.
    /// </summary>
    private async Task HandleOptionSelected((CoreBelief Belief, int SelectedValue) option)
    {
        try
        {
            UpdateBeliefResponse(option.Belief, option.SelectedValue);

            if (currentIndex < filteredBeliefs.Count() - 1)
            {
                MoveNext();
            }
            else if (currentIndex == filteredBeliefs.Count() - 1)
            {
                // Automatically navigate to the summary page when all questions are answered
                await NavigateToSummary();
            }
            // Store beliefResponses in session storage immediately after update
            await BeliefResponseService.UpdateBeliefResponses(beliefResponses);
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)
        {
            // Handle the error, log, or display an error message
            Console.WriteLine($"Error handling option selected: {ex.Message}");
        }
    }



    /// <summary>
    /// Handles the selection of a belief number.
    /// </summary>
    private async Task BeliefNumberSelectedAsync(int value)
    {
        try
        {
            if (value < 0)
            {
                selectedOption = "All";
            }
            else
            {
                selectedOption = value.ToString();
            }
            await FilterBeliefs();
            await InvokeAsync(StateHasChanged); // Update the component
        }
        catch (Exception ex)
        {
            // Handle the error, log, or display an error message
            Console.WriteLine($"Error handling belief number selected: {ex.Message}");
        }
    }

    /// <summary>
    /// Updates the response for a belief.
    /// </summary>
    public void UpdateBeliefResponse(CoreBelief belief, int selectedValue)
    {
        var beliefResponse = beliefResponses.FirstOrDefault(r => r.Belief == belief);
        if (beliefResponse != null)
        {
            beliefResponse.SelectedValue = selectedValue;
        }
        else
        {
            beliefResponse = new CoreBeliefResponse
                {
                    Belief = belief,
                    SelectedValue = selectedValue
                };
            beliefResponses.Add(beliefResponse);
        }
        questionsAnswered = beliefResponses.Count();
    }

    /// <summary>
    /// Gets the response for a belief.
    /// </summary>
    public CoreBeliefResponse GetBeliefResponse(CoreBelief belief)
    {
        return beliefResponses.FirstOrDefault(r => r.Belief == belief);
    }

    /// <summary>
    /// Navigates to the summary page and saves the belief responses in the sessionStorage.
    /// </summary>
    private async Task NavigateToSummary()
    {
        try
        {
            await BeliefResponseService.SaveBeliefResponses(beliefResponses);
            NavManager.NavigateTo("/summary");
        }
        catch (Exception ex)
        {
            // Handle the error, log, or display an error message
            Console.WriteLine($"Error navigating to summary: {ex.Message}");
        }
    }

}
